/* work sans from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles here */
* {
    font-family: "Work Sans", sans-serif;
}
.btn-primary{
    background-color: #ff900e;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.section-title{
    color: #131313;
    font-size: 3rem;
    font-weight: 500;    
}

.text-light-gray{
    color: #727272;
}

/* header style  */

header{
    padding: 20px 200px;
    background-color: rgba(255, 144, 14, 0.10);
    margin-bottom: 3rem;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
nav > h1{
    color: #131313;
    font-size: 3rem;
}
header > nav > ul{
    display: flex;
    flex-direction: row;
}

header > nav > ul > li{
    list-style: none;
    margin-right: 20px;
    color: #424242;
}
/* banner */
.banner{

}
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    /* border: 2px solid red; */
    margin-bottom: 20px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}


.banner img{
    width: 100%;
}


/* main section */
main{
    max-width: 1440px;
    margin: 0 auto;
}

.teams-container{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.features-content{
    padding: 0rem 5rem;
}
.feature-title .quick-list-text{
    font-size: 3rem;
    font-weight: 500;
}

.feature-title .feature-text{
    font-size: 3rem;
    color: #ff900e;
    font-weight: 700;
}
/* responsiveness for mobile */

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    } 
    nav{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: repeat(1,1fr);
        gap: 0.5rem;
    }
    .features-content{
        padding: 0 1rem;
    }
    
}


/* responsiveness for medium devices */
@media screen and (min-width: 577px) and (max-width: 960px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column-reverse;
    }
    .teams-img-container{
        grid-template-columns: repeat(2,1fr);
        gap: 0.5rem;
    }
    .features-content{
        padding: 0 1rem;
        margin-bottom: 1rem;
    }
}
