/* work sans from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles here */
* {
    font-family: "Work Sans", sans-serif;
}
.btn-primary{
    background-color: #ff900e;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

/* header style  */

header{
    padding: 20px 200px;
    background-color: rgba(255, 144, 14, 0.10);
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
nav > h1{
    color: #131313;
    font-size: 3rem;
}
header > nav > ul{
    display: flex;
    flex-direction: row;
}

header > nav > ul > li{
    list-style: none;
    margin-right: 20px;
    color: #424242;
}
/* banner */
.banner{

}
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    /* border: 2px solid red; */
    margin-bottom: 20px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
}

.banner img{
    width: 100%;
}

/* responsiveness for mobile */

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    } 
    nav{
        flex-direction: column;
    }
}

/* responsiveness for medium devices */
@media screen and (min-width: 577px) and (max-width: 960px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}